<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Survey Results</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
	</head>
    <body>
        <!-- This information is displayed ONLY for the Survey Class -->
        <div class="container">  
            <div class="displayInfo">
                <h1>Successfully Registered!</h1>
                @model User
                <h1>Super sweet page for:</h1> 
                <h1>@Model.FirstName @Model.LastName</h1>
                <h1>Email: @Model.Email</h1>
                <h1>Age: @Model.Age</h1>
            </div>
        </div>
        <!-- Information displayed for any other class would required a new Div that displays
            specifically for the Models.className -->
        
    </body>
</html>